<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Password</h3>
          </div>
          <div class="panel-body p-3">
            <form>
              <div class="form-group pt-3">
                <div class="input-field"> <span class="fa fa-lock px-2"></span> <input type="password"
                    placeholder="New Password" required> <button class="btn bg-white text-muted"> <span
                      class="fa fa-eye-slash"></span> </button> </div>
              </div>
              <small class="text-danger">*Password is required*</small>
              <div class="form-group pt-3">
                <div class="input-field"> <span class="fa fa-lock px-2"></span> <input type="password"
                    placeholder="Confirm Password " required> <button class="btn bg-white text-muted"> <span
                      class="fa fa-eye-slash"></span> </button> </div>
              </div>
              <small class="text-danger">*ConfirmPassword is required*</small>

              <div class="btn btn-primary btn-block mt-4 w-100">Reset</div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
